<div class='movies col-4'>
    <h3>Movies to Watch</h3>
    <ol>
       <li *ngFor ="let movie of movies">{{movie}}</li>
    </ol>
    <hr>
    <!-- <input #newMovie (keyup.enter)='addMovie(newMovie.value); newMovie.value = "" ' type='text' placeholder="Enter Movie Title Here" *ngIf=   />
    <button (click)='addMovie(newMovie.value); newMovie.value = "" '>Add</button> -->
<!-- <p>{{newMovie.value}}</p>  -->

   <input #newMovie (keyup.enter)="message = addMovie(newMovie.value); newMovie.value = ''" type="text" placeholder="Enter Movie Title Here"/>
    <button (click)="message = addMovie(newMovie.value); newMovie.value = ''">Add</button>
    <p class = "error" *ngIf = "message">{{message}}</p>

<!-- message is a variable name to represent the entire function of addMovie(newMovie.value) -->

</div>